@using Microsoft.JSInterop
@inject IJSRuntime JS;


<svg height="@(radius*2)" width="@(radius*2)">
    <circle class="draggable" cx="@radius" cy="@radius" r="@(radius*0.8)" stroke="black" stroke-width="@(radius *0.05)" fill="#a0a" />
    <text x="50%" y="50%" text-anchor="middle" alignment-baseline="central" fill="#fff" font-size="@(radius*0.3)px">@displayValue</text>
</svg>

@*<div class="draggable"> Draggable Element </div>*@



@code {


    public int radius = 40;


    public string displayValue = "stamp";

    protected override async Task  OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("dragAndDrop", ".draggable");
    }
}