@page "/"
@inherits ClassComponentBase

<PageTitle>Class List</PageTitle>
@if (classes is null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table table-striped table-bordered table-hover">
		<thead class="table-dark">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Access Modifier</th>
				<th>Class Modifier</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (ClassModel classHeader in classes)
			{
				<tr>
					<td>@classHeader.Id</td>
					<td>@classHeader.AccessModifier</td>
					<td>@classHeader.ClassModifier</td>
					<td>@classHeader.Name</td>
					@foreach (VariableModel varModel in classHeader.VariableModels!)
					{
						<td>@varModel.Name</td>
					}
				</tr>
			}
		</tbody>
	</table>
}
